./auth/node_modules
./auth/public/hot
./auth/public/storage
./auth/storage/*.key
./auth/data
./auth/vendor
./auth/.env
./auth/.env.backup
./auth/.phpunit.result.cache
./auth/docker-compose.override.yml
./auth/Homestead.json
./auth/Homestead.yaml
./auth/npm-debug.log
./auth/yarn-error.log
./auth/.idea
./auth/.vscode
./productservice/node_modules
./productservice/public/hot
./productservice/public/storage
./productservice/storage/*.key
./productservice/data
./productservice/vendor
./productservice/.env
./productservice/.env.backup
./productservice/.phpunit.result.cache
./productservice/docker-compose.override.yml
./productservice/Homestead.json
./productservice/Homestead.yaml
./productservice/npm-debug.log
./productservice/yarn-error.log
./productservice/.idea
./productservice/.vscode
